<launch>
    <arg name="mavros" default="true"/>
    <arg name="vpe_publisher" default="false"/>
    <arg name="simple_offboard" default="false"/>

    <arg name="vive_base_frame_id" default="vive_map"/>
    <arg name="tracker_yaw_base" default="0.0"/>
    <arg name="tracker_pitch_base" default="0.0"/>
    <arg name="tracker_roll_base" default="0.0"/>
    <arg name="tracker_yaw_axes" default="0.0"/>
    <arg name="tracker_pitch_axes" default="0.0"/>
    <arg name="tracker_roll_axes" default="0.0"/>
    <arg name="static_yaw" default="-1.5707963"/>
    <arg name="static_pitch" default="0.0"/>
    <arg name="static_roll" default="3.1415926"/>

    <!-- mavros -->
    <include file="$(find roslibsurvive)/launch/mavros.launch" if="$(arg mavros)">
        <arg name="fcu_conn" default="usb"/>
        <arg name="fcu_ip" default="127.0.0.1"/>
        <arg name="gcs_bridge" default="tcp"/>
        <arg name="viz" default="false"/>
        <arg name="respawn" default="true"/>
    </include>

    <node name="frame_publisher" pkg="roslibsurvive" type="roslibsurvive_frame_publisher">
        <param name="base_frame_id" value="$(arg vive_base_frame_id)"/>
        <param name="yaw" value="$(arg tracker_yaw_base)"/>
        <param name="pitch" value="$(arg tracker_pitch_base)"/>
        <param name="roll" value="$(arg tracker_roll_base)"/>
        <param name="yaw2" value="$(arg tracker_yaw_axes)"/>
        <param name="pitch2" value="$(arg tracker_pitch_axes)"/>
        <param name="roll2" value="$(arg tracker_roll_axes)"/>        
        <param name="yaw_static" value="$(arg static_yaw)"/>
        <param name="pitch_static" value="$(arg static_pitch)"/>
        <param name="roll_static" value="$(arg static_roll)"/>        
    </node>

    <!-- Static transform for vive tracker -->
    <!-- Change T20 to actual tracker name -->
    <!-- static_transform_publisher arguments: x y z yaw pitch roll frame_id child_frame_id -->
    <!-- 3.1415926 1.5707963-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="vive_frame" args="0.0 0.0 0.0 1.5707963 3.1415926 0.0 T20 T20_body"/>

    <node name="simple_offboard" pkg="clever" type="simple_offboard" output="screen" clear_params="true" if="$(arg simple_offboard)">
        <param name="reference_frames/body" value="map"/>
        <param name="reference_frames/base_link" value="map"/>
    </node>

    <node name="vpe_publisher" pkg="clever" type="vpe_publisher" clear_params="true" if="$(arg vpe_publisher)">
        <!-- Change this to actual topic name -->
        <remap from="~pose" to="T20_pose"/>
        <remap from="~vpe" to="mavros/vision_pose/pose"/>
        <!--  -->
        <param name="offset_frame_id" value="vive_map"/>
        <param name="frame_id" value="T20_body"/>
        <param name="publish_zero" value="false"/>
    </node>

</launch>

